body {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

main {
    height: 100%;
    background: url(../imagens/imagem\ fundo.jpg) repeat-x;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto {
    height: 111px;
    width: 300px;
    color: #ffffff;
    margin: 0 50px;
}

.texto h1 {
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 10px;
}

.texto p {
    font-size: 15px;
    font-weight: 400;
}

.formulario {
    height: 378px;
    width: 340px;
    background-color: #ffffff;
    margin: 12px 50px 12px 10px;
}

.formulario form {
    height: 100%;
    padding: 20px 20px 22px 22px;
    position: relative;
}

.formulario .campo {
    height: 35px;
    width: 298px;
    margin-bottom: 15px;
}

.formulario #mensagem {
    height: 100px;
    width: 298px;
    margin-bottom: 7px;
    resize: none;
    padding: 8px 5px 0 10px;
}

.formulario .campo[placeholder] {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 700;
    padding-left: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
}

.formulario .legenda {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 18px;
}

.formulario .btn-enviar {
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 700;
    height: 41px;
    width: 298px;
    background-color: #3CCC87;
    color: #ffffff;
    margin: 0;
    cursor: pointer;
    position: absolute;
    top: 315px;
}

.formulario .aviso {
    display: none;
    color: #f52e2e;
    font-size: 8px;
    font-weight: 400;
    margin-bottom: 6px;
}

.formulario p:nth-child(8) {
    margin-bottom: 4px;
}

.formulario form .campo.erro, .formulario form #mensagem.erro:nth-child(7){
    border: 1px solid #f52e2e;
    margin-bottom: 0;
}

.formulario .mostrar.aviso {
    display: block;
}

.formulario form .campo.valido {
    border: 1px solid #00C22B;
}

.formulario form #mensagem.valido:nth-child(7) {
    margin-bottom: 7px;
    border: 1px solid #00C22B;
}